body {
  text-align: center;
}
.greenbx {
  background-color: green;
  z-index: -1;
  height: 50%;
  width: 33%;
  position: fixed;
  top: 50%;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.bluebx {
  background-color: blue;
  z-index: -1;
  height: 50%;
  width: 33%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.whitebx {
  background-color: white;
  z-index: -1;
}
.redbx {
  background-color: red;
  z-index: -1;
  height: 100%;
  width: 33%;
  position: fixed;
  top: 0;
  left: 67%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

a:hover {
  font-size: large;
}

#ew {
  position: absolute;
  z-index: -1;
  display: block;
}

#eh {
  position: absolute;
  z-index: -1;
  display: block;
}
